.Dashboard {
    margin-top: 68px;
    margin-bottom: 20px;
}

.dashboard-overview {
    background-color: #DBE2EF;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-size: larger;
    padding: 20px;

    
}

.navbar{
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

}

.header {
    background-color: #112D4E;
    color: aliceblue;
    height: 40px;
    font-size: x-large;
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.transaction-list{
    min-height: 700px;
    width: 40%;
}

.transaction{
    height: 213px;
}

.transaction-list li {
    list-style-type: none;
}

.heading {
    background-color: #3F72AF;
    color: aliceblue;
    padding: 15px;

}

.TransactionForm, .IncomeForm {
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    background-color: #F9F7F7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.TransactionForm .form-row, .IncomeForm .form-row {
    display: flex;
    flex-direction: column;
}

.TransactionForm label, .IncomeForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

.TransactionForm input, .IncomeForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.TransactionForm button, .IncomeForm button {
    grid-column: span 2;
    padding: 10px;
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox{
    
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.TransactionForm button:hover, .IncomeForm button:hover {
    background-color: #2980B9;
}

@media (max-width: 600px) {
    .TransactionForm, .IncomeForm {
        grid-template-columns: 1fr;
    }
}

#deleteButton {
    background-color: #f00;
    
    color: #fff;
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

#deleteButton:hover {
    background-color: #c00;
}

#editButton {
    background-color: #307bff;
    
    color: #fff;
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

#editButton:hover {
    background-color: #286090;
}

.money{
    font-family: Roboto Mono, monospace;
    display: inline-block;
}

.transaction {
    
    
    background-color: #F9F7F7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.transaction:hover {
    background-color: #f9f9f9;
}

.transaction-details {
    display: inline-block;
}

.transaction-details>div {
    margin-bottom: 5px;
}

.date {
    font-weight: bold;
    color: #2C3E50;
}

.category {
    font-weight: bold;
    color: #16A085;
}

.amount {
    font-weight: bold;
    color: #E74C3C;
}

.description {
    font-style: italic;
    color: #7F8C8D;
}

.recurring {
    color: #E67E22;
    font-weight: bold;
}

.transaction-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.recent{
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    column-gap: 15px;
}

.recent ul{
    margin-top: 10px;
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: center;
}

.recent-header{
    border-radius: 32px;
    background-color: rgba(236, 236, 236, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    padding: 20px 120px;
    background: #112D4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: #0ef;
}
