.Dashboard {
    margin-bottom: 20px;
}

.dashboard-overview {
    display: flex;
    justify-content: space-between;

    padding: 20px;

    
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

}

.header {
    background-color: #112D4E;
    color: aliceblue;
    height: 40px;
    font-size: x-large;
    padding: 20px;
    font-weight: bold;


}

.transaction-list li {
    list-style-type: none;
}

.heading {
    background-color: #3F72AF;
    color: aliceblue;
    padding: 15px;

}

.TransactionForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    background-color: #F9F7F7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.TransactionForm .form-row {
    display: flex;
    flex-direction: column;
}

.TransactionForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

.TransactionForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.TransactionForm button {
    grid-column: span 2;
    padding: 10px;
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.TransactionForm button:hover {
    background-color: #2980B9;
}

@media (max-width: 600px) {
    .TransactionForm {
        grid-template-columns: 1fr;
    }
}

#deleteButton {
    background-color: #f00;
    
    color: #fff;
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

#deleteButton:hover {
    background-color: #c00;
}

#editButton {
    background-color: #307bff;
    
    color: #fff;
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

#editButton:hover {
    background-color: #286090;
}

.money{
    font-family: Roboto Mono, monospace;
    display: inline-block;
}

.transaction {
    
    
    background-color: #F9F7F7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.transaction:hover {
    background-color: #f9f9f9;
}

.transaction-details {
    display: inline-block;
}

.transaction-details>div {
    margin-bottom: 5px;
}

.date {
    font-weight: bold;
    color: #2C3E50;
}

.category {
    font-weight: bold;
    color: #16A085;
}

.amount {
    font-weight: bold;
    color: #E74C3C;
}

.description {
    font-style: italic;
    color: #7F8C8D;
}

.recurring {
    color: #E67E22;
    font-weight: bold;
}

.transaction-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.recent ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}